<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog - SportsBetGrowth</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <meta name="description" content="Discover the range of services offered by SportsBetGrowth to help you succeed in sports betting.">
  <meta name="keywords" content="sports betting, sportsbook, probability, models, services">
  <script src="/static/js/scripts.js" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Header -->
  <header></header>
  <!-- Blog Hero Section -->
  <main>

    <section id="main-highlight-a" class="image-section section-padding">
      <div class="text-container">
          <h2 class="section-heading">The SBG blog</h2>
          <p>Expand your knowledge of sports, betting and personal growth</p>
          <!-- Email Signup Form -->
          <!-- <form id="newsletter-form" action="/subscribe" method="POST" class="stacked-form">
              <input type="text" name="honeypot" style="display: none;">
              <input type="email" id="emailInput" name="email" placeholder="Your email address here" required>
              <button type="submit" class="cta-button">Join Our Newsletter</button>
          </form> -->
      </div>
  </section>

    <section class="blogs-section">
        <div class="container">
            <!-- <h1>Latest Blogs</h1> -->
            <div class="blogs-container" id="blogs-container">
                <!-- Blog posts will be dynamically loaded here -->
            </div>
        </div>
    </section>
  </main>

  <section id="main-highlight-a" class="image-section section-padding">
    <div class="text-container">
        <h2 class="section-heading">Stay connected</h2>
        <p>Join our newsletter for the latest updates, insights, and strategies in sports betting</p>
        <!-- Email Signup Form -->
        <form id="newsletter-form" action="/subscribe" method="POST" class="stacked-form">
            <input type="text" name="honeypot" style="display: none;">
            <input type="email" id="emailInput" name="email" placeholder="Your email address here" required>
            <button type="submit" class="cta-button">Join Our Newsletter</button>
        </form>
    </div>
  </section>

  <!-- Footer -->
  <footer></footer>
</body>
</html>